/* Your Website Styles */
body{
background:#D9CB9E;
}

.container{
  background:#DC3522;
}

/* Gallery Stying */
.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
}
.gallery .item {
  height: 600px;
  overflow: hidden;
  text-align: center;
  background: #374140;
}
.gallery .controls {
  position: absolute;
  bottom: -284px;
  width: 100%;
  text-align: center;
}

.gallery .controls img {
  border: 5px solid #2A2C2B;
  margin:10% auto 0 auto;

  transform:perspective(300px) rotateY(45deg)scaleZ(.5);
  transition: transform 1s;
}

div:hover{
  transform:rotateY(0);
  animate:transform 1s;
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}



/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}